*{
    background-color: rgb(255, 255, 255);
}
.flag {
    height: 50px;
    width: 100px;
}

.table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}